<h1>Editing Student App Cat Regno</h1>

<%= render 'form', student_app_cat_regno: @student_app_cat_regno %>

<%= link_to 'Show', @student_app_cat_regno %> |
<%= link_to 'Back', student_app_cat_regnos_path %>
